html {
            font-size: 36px;
        }
body{
  font-family: sans-serif;
}
p{
      font-family: monospace;
}
.content {
    margin: 0px auto;
    padding: 20px;
    width: 1200px;
}


@media (max-width: 1200px) {
  .content {
    width: 90%;
  }
}
